# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Frontend build
/frontend/dist

# Backend database
/backend/*.db

# Environment
.env
/frontend/.env
/backend/.env

# Vite
/frontend/.vite

# VSCode
.vscode/
