$color-icon: #ffcc4d;
$color-icon-secondary: #664500;
$color-1-primary: #ff8bbd;
$color-1-secondary: #ad0069;
$color-2-primary: #dcabfe;
$color-2-secondary: #7b19bf;
$color-3-primary: #fff4d4;
$color-3-secondary: #ffcc4d;
$color-4-primary: #aeeedb;
$color-4-secondary: #4a9780;
$color-5-primary: #aed9ff;
$color-5-secondary: #0064bb;
