#root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	text-align: center;

	--color-icon: #ffcc4d;
	--color-icon-secondary: #664500;
	--color-1-primary: #ff8bbd;
	--color-1-secondary: #ad0069;
	--color-2-primary: #dcabfe;
	--color-2-secondary: #7b19bf;
	--color-3-primary: #fff4d4;
	--color-3-secondary: #ffcc4d;
	--color-4-primary: #aeeedb;
	--color-4-secondary: #4a9780;
	--color-5-primary: #aed9ff;
	--color-5-secondary: #0064bb;
}

html,
body,
#root {
	min-height: 100vh;
	min-width: 100vw;
	margin: 0;
	padding: 0;
	background-color: var(--color-1-primary);
}

.container {
	margin: 0 auto;
	margin-top: 30vh;
}

h1 {
	font-size: 3.5rem;
	font-weight: 800;
	color: var(--color-1-secondary);
	text-shadow: 5px 5px 7px #270017;
	margin-bottom: 10vh;
	cursor: default;
}

img {
	padding: 0;
	margin: 0;
	height: 3rem;
}

.gridButtons {
	display: flex;
	flex-direction: row;
	gap: 5vw;
	margin: 0 auto;
	justify-content: center;
}

.button {
	display: inline-block;
	background-color: var(--color-icon);
	color: var(--color-icon-secondary);
	border-radius: 15px;
	border: none;
	width: max-content;
	padding: 3vh 2vh;
	box-shadow: 5px 5px 10px #00000092;
	font-weight: 800;
	text-align: center;
	text-shadow: 2px 2px 3px #c48600;
}

.button:hover {
	background-color: var(--color-1-secondary);
	color: var(--color-icon);
	text-shadow: 2px 2px 3px #370221;
}
