#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;

	--color-icon: #ffcc4d;
  --color-icon-secondary: #664500
	--color-1-primary: #ff8bbd;
  --color-1-secondary: #AD0069;
  --color-2-primary: #DCABFE;
  --color-2-secondary: #7B19BF;
  --color-3-primary: #FFF4D4;
  --color-3-secondary: #ffcc4d;
  --color-4-primary: #AEEEDB;
  --color-4-secondary: #4A9780;
  --color-5-primary: #AED9FF;
  --color-5-secondary: #0064BB;
}

h1 {
  font-size: 3.5rem;
}

img {
  padding: 0;
  margin: 0;
  height: 3rem;
}